<body class="home-page">
   <div>
    <h3 id="logo-home">CinchCoin </h3>
  </div>
  {{!-- Home Header --}}
  <div class="home-header">
    <a href="/useraccount">
      <img id="goldcircle" src="/images/goldcircle.png"> 
    </a>   
   
    <a href="https://www.google.com/">
      <img id="searchicon" src="/images/searchicon.png">
    </a>   
  </div>  

<div class="home-container"> 
  <div class="crypt">  
{{!-- Home Menu --}}
  <div id= "coin-home"class="menu">
    <a href="/Market">Market</a>
    <a href="/News">News</a>
    <a href="/bitcoin">My Coins</a>
  </div>


{{!-- Total Balance --}}
  <div class="balance">

    <h1>Total Balance: 4,500</h1>

    <div id="total-balance">

  {{#each cinchcoin}}

    <div class="wallet-coins">
 <input type="text" name="bitcoin" value="{{this._doc.bitcoin}}">
    <h3>{{this.bitcoin:}}<h3>
        {{this._doc.ethereum}}
        {{this._doc.litecoin}}
        {{this._doc.xrp}} 
  
    </div>
{{/each}}  
    </div>
  </div>

{{!-- Wallet Chart --}}
<div id="walletDiv">
<canvas id="walletChart" width="400px" height="400px"></canvas>

</div>

<div class="wallet">
<div class="wallet-1">
  <p>Bitcoin: 920 </p>
</div>

<div class="wallet-2">
  <p>ethereum: 859</p>
</div>
<div class="wallet-3">
  <p>Litecoin: 540  </p>
</div>
<div class="wallet-4">
  <p>XRP: 321 </p>
</div>
  
</div>



</div> 
</body>